<p-toast></p-toast>
<form [formGroup]="grupoForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <div class="p-field">
      <label for="nome">Nome</label>
      <input id="nome" type="text" pInputText formControlName="nome" />
    </div>

    <div class="p-field">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" pInputText formControlName="descricao" />
    </div>

    <div class="p-field-checkbox">
      <p-checkbox
        inputId="isSaldoNegativo"
        binary="true"
        formControlName="isSaldoNegativo"
      ></p-checkbox>
      <label for="isSaldoNegativo">Saldo Negativo</label>
    </div>

    <div class="p-field">
      <p-button type="submit" label="Salvar" [disabled]="grupoForm.invalid"></p-button>
    </div>
  </div>
</form>
